
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .HeadImgSize{
    height: 35rem;
    width: 100%;
    object-fit: cover;
  }
  .overlayheading{
    position: relative;
    bottom: 28rem;
    left: 28%;
    color: #ffffff;
    z-index: 100;
  }
  .overlayheading2{
    position: relative;
    bottom: 18rem;
    left: 42%;
    color: #ffffff;
    z-index: 100;
  }
@media screen and (max-width:600px) {
.swiper{
  width: 110%;
  overflow-x: hidden;
}
.overlayheading{
  position: relative;
  bottom: 20rem;
  left: 30%;
  color: #ffffff;
  z-index: 100;
  width: 60%;
}
.overlayheading2{
  position: relative;
  bottom: 18rem;
  left: 32%;
  color: #ffffff;
  z-index: 100;  width: 60%;
}
}
  