.mainBody{
    position: relative;
}
.whatsapp-btn{
    /* top: 35.0rem;
    left: 95%;
    position: fixed;
    z-index: 100; */
    position: fixed;
    z-index:100;
    bottom: 5%;
    right: 5%;
    /* display: none; */
}
.whatsapps-btn{
    /* top: 35.0rem;
    left: 95%;
    position: fixed;
    z-index: 100; */
    position: fixed;
    z-index:100;
    bottom: 12%;
    right: 5%;
    /* display: none; */
}

/* @media screen and (min-width:1024px) and (max-width:1280px) {
    .whatsapp-btn{
        top: 30rem;
    }
} */
@media only screen and (max-width: 600px) {
    .mainBody {
        overflow-x : hidden;
    }
}
