.headingooo{
    position: relative;
    left: 25rem;
    margin-bottom: 7rem;
}
.btn-css-ooo{
    width: 16rem;
    height: 4rem;
    border-radius: 15px;
    border: 0px;
    color: white;
    background-color: #149BFC;
    position: relative;
    bottom: 2.5rem;
}
.name-card{
    position: relative;
    left: 44%;
    bottom: 4rem;
}
.iaomr-paraQR{
    position: relative;
    left: 38%;
    margin: 4rem 0rem;
    color: #149BFC;
    
}
.iaomr-paraQS{
    position: relative;
    left: 20%;
    margin: 4rem 0rem;
    color: #149BFC;
    
}

.containnn{
    position: relative;
    right: -09rem;
}

.Box{
    position: relative;
    margin-right: 1rem;
    top: 13rem;
    margin-bottom: 5rem;
}
@media screen  and (max-width:600px) {
    .containnn{
        position: relative;
        right: 2rem;
    }
    .headingooo {
        position: relative;
        left: 2rem;
        margin-bottom: 7rem;
        width: 99%;
    }
    .MainContainerB {
        width: 47%;
        position: relative;
        left: 10%;
    }
    .iaomr-paraQR{
        position: relative;
        left: 3.8rem;
        width: 98%;
        font-size: 2rem;
    }
    .iaomr-paraQS{
        position: relative;
        left: 3.8rem;
        width: 98%;
        font-size: 2rem;
    }
}

