
   
.position-fix{
    position: relative;
    left: 18rem;
}

@media screen and (max-width:600px) {
    .position-fix{
        position: relative;
        left: 0rem;
    }

    .nav{
        width: 110%;
    }
}

@media screen and (min-width:1025px) and (max-width:1280px) {
    .position-fix {
        position: relative;
        left: 14rem;
    }
}

@media screen and (min-width:601px) and (max-width:1024px) {
    .position-fix {
        position: relative;
        left: 4rem;
    }
}