.element{
    height: 7rem;
    width: 7rem;
  }

  .EventSchedule{
    display: flex;

    position: relative;
    bottom: 8rem;
  }
  /* .dividr{
    width: 25%;
    }
    .dividr1{
        width: 25%;
        }.dividr2{
            width: 25%;
            }.dividr3{
                width: 25%;
                } */
/* .twologos{
    position: relative;
    left: 45%;
    bottom: 6rem;
    margin-bottom: 0rem;
} */
.elements-main{
    display: flex;
    position: relative;
    left: 05%;
    margin: 3rem 3rem;
}

.para1{
    margin-top: 2.5rem;
}
/* .twologoo{
  width: 9rem;
  height:9rem;
  position: relative;
  bottom: 5rem;
  left: 9%;
}
.twologoo-1{
  width: 17rem;
  height: 15rem;
  position: relative;
  bottom: 5rem;
  left: 45%;
} */
@media screen and (max-width:600px) {
  
.para1{
  width: 100%;
}
.twologoo {
  width: 6.5rem;
  height: 6.5rem;
  position: relative;
  left: -6%;
  top: 0.5rem;
}
.twologos {
  margin-left: -4rem;
  position: relative;
  left: 18rem;
}
.twologoo-1 {
  width: 15.75rem;
  height: 10rem;
  position: relative;
  bottom: -0.5rem;
  left: -65%;
  width: 40%;
}

  
  .EventSchedule {
    display: block;
    position: relative;
    bottom: 8rem;
    left: -2rem;
}
  
  .dividr{
    position: relative;
    top: 13rem;
    margin-bottom: 12rem;
    min-width: 110%;
    max-height: 3.5rem;
    }
    .dividr1{
        display: none;
        width: 35%;
        }.dividr2{            display: none;
            width: 35%;
            }.dividr3{            display: none;
                width: 35%;
                }
}

@media screen and (min-width:1025px) and (max-width:1280px) {
  .twologos{
    position: relative;
    left: 44rem;
  }
.twologoo-1{
  height: 11rem;
  width: 12.5rem;
  position: relative;
  left: 7rem;
  top: 0.51rem;
}
  .twologoo{
    height: 7rem;
    width: 7rem;
    position: relative;
    left: 2rem;
    top: 0.45rem;}
}
@media screen and (min-width:1400px) {
  .twologoo {
    height: 6.5rem;
    width: 6.5rem;
    position: relative;
    top: 0.51rem;
    left: 29rem;
}
.twologos{
  position: relative;
  left: 48.4rem;
}
.twologoo-1{
  height: 11rem;
  width: 12.5rem;
  position: relative;
  top: 0.51rem;
  left: 13rem;
}
}

@media screen and (min-width: 1281px) and (max-width:1399px) {
  .twologoo {
    height: 6.5rem;
    width: 6.5rem;
    position: relative;
    top: 0.51rem;
    left: 26rem;
}
.twologos{
  position: relative;
  left: 45.4rem;
}
.twologoo-1{
  height: 11rem;
  width: 12.5rem;
  position: relative;
  top: 0.51rem;
  left: 10rem;
}
}