.element{
    height: 7rem;
    width: 7rem;
  }

  .EventSchedule{
    display: flex;
    position: absolute;
    /* margin-bottom: 10vh; */
    right: 7vw;
    top: 153vh;
  }

                .container1{
                  position: absolute;
                  
                }
.twologos{
  position: relative;
  left: 45vw;
  bottom: -58vh;
  margin-bottom: 0rem;
}
.elements-main{
    display: flex;
    position: relative;
    left: 05%;
    margin: 3vh 3vw;
}

.para1{
    margin-top: 2.5rem;
}
.twologoo{
  width: 8vw;
  height: 15vh;
  position: relative;
  bottom: -38vh;
  left: 27vw;
}
.twologoo-1{
  width: 16vw;
  height:30vh;
  position: relative;
  bottom: -3vh;
  left: 45%;
}
@media screen and (max-width:600px) {
  .twologos{
    margin-left: -2rem;
    position: absolute;
    left: 32vw;
    bottom: -29vh;
    margin-bottom: 0rem;
  } 

  .divider{
    height: 3.14vh;
    width: 50.9vh;
    position: relative;
    top: 5vh;
  }.dividerAB{    height: 3.14vh;
    width: 50.9vh;
    position: relative;
    top: 210vh;
  }
  .dividerA{
    height: 3.14vh;
        width: 50.9vh;
        position: relative;
        top: 70vh;
  }
  .divider1{
    display: none;
  }
  .divider2{
    display: none;
  }
  .divider3{
    display: none;
  }
.para1{
  width: 39vw;
}
  .twologoo{
    width: 30vw;
    height: 14vh;
    position: absolute;
    bottom: -43.3vh;
    left: 20vw;

  }
  .twologoo-1{
    height: 25vh;
    position: absolute;
    top: 24vh;
    left: 36vw;
    margin-left: 0.1vw;
    width: 58vw;

}
  
.container1{
  position: absolute;
}
  .EventSchedule{
    display: block;
    position: relative;
    bottom: 4vh;
    left: 4vw;
    width: 80%;
  }
  h6 {
    font-size: 4vw;
}
  .dividr{
    position: relative;
    top: 13rem;
    margin-bottom: 12rem;
    min-width: 110%;
    max-height: 3.5rem;
    }
    .dividr1{
        width: 35%;
        }.dividr2{            display: none;
            width: 35%;
            }.dividr3{            display: none;
                width: 35%;
                }
}