.PhotoPos{
    position: relative;
    left: 46.5%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.dividra{
    width: 25%;
    position: relative;
    right: 19%;
    }
    .dividr1a{ position: relative;
        right: 19%;
        width: 25%;
        }.dividr2a{ position: relative;
            right: 19%;
            width: 25%;
            }.dividr3a{ position: relative;
                right: 19%;
                width: 25%;
                }.iaomr-paraQ{
                    position: relative;
                    left: 0%;
                    margin: 4rem 0rem;
                    color: #149BFC;
                }
.OCHeading1{
    position: relative;
    left: 37%;
    margin-top: 5rem;
}

.name-card{
    position: relative;
    left: 44%;
    bottom: 4rem;
}


.first-level{
    position: relative;
    right: 1rem;
}
.second-level{
    display: flex;
    position: relative;
    right: 5rem;
}
.second-levelC{
    display: flex;
    position: relative;
    left: 10%;
}
.Third-Level-2{
    display: flex;
    position: relative;
    right: 1rem;
}


.PosDistance{
    margin-left: 8rem;
}

.PosDistance-2{
    margin-left: 4.5rem;
    position: relative;
    right: 6rem;
}

.PosDistance-4{
   margin-left: 8rem;
}
.iaomrlogo{
    height: 13rem;
    width: 13rem;
    position: relative;
    left: 25%;
    margin-top: 5rem;
}
.iaomr-container{
    position: relative;
    left: 18rem;
}
.containn{
    position: relative;
    right: 3rem;
}
.PhotoPos-3{
    position: relative;
    left: 60.5%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.PhotoPos-1A{
    height: 14rem;
    width: 14rem;
    margin-right: 3rem;
    border-radius: 5px;
}

.PhotoPos-1B{
    height: 14rem;
    width: 14rem;
    margin-right: 3rem;
    border-radius: 5px;
}

.PosDistance-rightcorner-2{
    position: relative;
    left: 6%;
    margin: 3rem 0rem;
    margin-right: 1rem;
}

.btn-css-iaomr{
    position: relative;
    top: 3rem;
    right: 10rem;
    width: 18rem;
    height: 4rem;
    border-radius: 25px;
    border: 0px;
    color: white;
    background-color: #149BFC;
}

.btn-css-iaomr-1{
    position: relative;
    top: 3rem;
    right: 10rem;
    width: 18rem;
    height: 6rem;
    border-radius: 25px;
    border: 0px;
    color: white;
    background-color: #149BFC;
}
.btn-css-iaomr-2{
    position: relative;
    top: 3rem;
    right: 10rem;
    width: 18rem;
    height: 6rem;
    border-radius: 25px;
    border: 0px;
    color: white;
    background-color: #149BFC;
}

.PosDistance-iaomrleftcorner{
    position: relative;
    left:-5%;
    margin: 3rem 0rem;
}
.PosDistance-rightcorner{
    position: relative;
    left: 20%;
    margin: 3rem 0rem;
}
.PosDistance-iaomrleftcornerA{
    position: relative;
    left:-5%;
    margin: 3rem 0rem;
}
.PosDistance-rightcornerA{
    position: relative;
    left: 20%;
    margin: 3rem 0rem;
}

.PosDistance-iaomr-center{
    position: relative;
    left: 10%;
    margin: 3rem 0rem;
}
.PosDistance-iaomr-center-3{
    position: relative;
    left: 130%;
    margin: 3rem 0rem;
}
.second-levelB{
    display: flex;
    position: relative;
    right: 10rem;
}
.PosDistance-iaomr-center-2{
    position: relative;
    left: 0%;
    margin-right: 1rem;
    margin: 3rem 0rem;
}
.second-l{
    position: relative;
    left: 6rem;
}

.PosDistance-rightcorner-1{
    position: relative;
    left: 3%;
    margin: 3rem 0rem;
}

.iaomr-para{
    position: relative;
    left: 18%;
    margin:4rem 0rem;
    color: #149BFC;
}
@media screen and (max-width:600px) {
.containn{
    position: relative;
    right: 2rem;
}

.iaomr-paraQ{
    position: relative;
    left: 0.8rem;
    width: 132%;
    font-size: 2rem;
}

.MainContainer{
    width: 70%;
    position: relative;
left: 5%;
}

    .dividra{
display: none;
        }
        .dividr1a{
            display: none;
            width: 35%;
            }.dividr2a{            display: none;
                width: 35%;
                }.dividr3a{            display: none;
                    width: 35%;
                    }
    .btn-css-iaomr-2{
        position: relative;
        top: 3rem;
        right: 5.5rem;
        width: 18rem;
        height: 6rem;
        border-radius: 25px;
        border: 0px;
        color: white;
        background-color: #149BFC;
    }

    .iaomr-container{
        position: relative;
        left: 0rem;
    }
    .iaomrlogo{
        position: relative;
        right: 13rem;
    }
    .iaomr-para{
        position: relative;
        left: 0.8rem;
        width: 132%;
        font-size: 2rem;
    }
    .second-l{
        position: relative;
        left: -2rem;
    }
    .second-le{
        position: relative;
        right: 0rem;
    }
    .second-level{
        display: block;
        position: relative;
        right: -20%;
        width: 70%;
    }
    .second-levelB{
    
            display: block;
            position: relative;
            right: -20%;
            width: 70%;
        
    }
    .second-levelC{
        display: block;
        position: relative;
        right:44rem;
    }
    .btn-css-iaomr-1{
        position: relative;
        top: 3rem;
        right: 7rem;
        width: 16rem;
        height: 6rem;
        border-radius: 25px;
        border: 0px;
        color: white;
        background-color: #149BFC;
    }
.btn-css-iaomr{
    position: relative;
    top: 3rem;
    right: 5rem;
    width: 18rem;
    height: 4rem;
    border-radius: 25px;
    border: 0px;
    color: white;
    background-color: #149BFC;
}
    .PosDistance-iaomrleftcornerA{
        position: relative;
    left:13%;
    margin: 3rem 0rem;width: 70%;
    }
    .PosDistance-rightcornerA{
        position: relative;
    left:13%;
    margin: 3rem 0rem; width: 70%;
    }

    .PosDistance-iaomrleftcorner{
        position: relative;
    left:0%;
    margin: 3rem 0rem; width: 70%;
    }
    .PosDistance-iaomr-center{
        position: relative;
        left: 0%;
        margin: 3rem 0rem;
        width: 70%;
    }
    .PosDistance-rightcorner{
        position: relative;
        left: 0%;
        margin: 3rem 0rem; width: 70%;
    }
    .PosDistance-rightcorner-1{
        position: relative;
        left: 0%;
        margin: 3rem 0rem; width: 70%;
    }
    .PosDistance-rightcorner-2{
        position: relative;
        left: 0%;
        margin: 3rem 0rem; width: 70%;
    }
    .PosDistance-iaomr-center-2{
        position: relative;
        left: 0%;
        margin: 3rem 0rem; width: 70%;
    }
    .PosDistance-iaomr-center-3{
        position: relative;
        left: 0%;
        margin: 3rem 0rem; width: 70%;
    }
    
}

@media screen and (min-width:1024px) and (max-width:1280px) {
    .iaomr-container {
        position: relative;
        left: 15rem;
    }
}