.PhotoPos{
    position: relative;
    left: 46.5%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.OCHeading1{
    position: relative;
    left: 37%;
    margin-top: 5rem;
}

.name-card{
    position: relative;
    left: 44%;
    bottom: 4rem;
}

.btn-css-iaomp{
    width: 15rem;
    border-radius: 25px;
    border: 0px;
    position: relative;
    bottom: 2rem;
    color: white;
    background-color: #149BFC;
}
.first-level{
    position: relative;
    right: 1rem;
}
.second-leveliaomp{
    display: flex;
    position: relative;
    right: -11rem;
}
.Third-Level-2{
    display: flex;
    position: relative;
    right: 1rem;
}


.PosDistance{
    margin-left: 8rem;
}

.PosDistance1{
    margin-left: 4rem;
}

.PosDistance-2{
    margin-left: 4.5rem;
    position: relative;
    right: 6rem;
}

.PosDistance-4{
   margin-left: 4rem;
}

.iaomp-container{
    position: relative;
    left: 18rem;
}
.PhotoPos-3{
    position: relative;
    left: 60.5%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.iaomp-head{
    position: relative;
    left: 27%;
margin-top: 4rem;
}
.PhotoPos-2N{
    position: relative;
    left: 56.5%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

@media screen and (max-width:600px) {
    .iaomp-container{
        position: relative;
        left: 0rem;
    }
    .iaomp-head{
position: relative;
width: 60%;
    }

    .second-leveliaomp{
        display: block;
        position: relative;
        right: 15%;
    }

  
    .btn-css-iaomp{
    
        bottom: 2rem;
        position: relative;
        left: 8%;
     
    }
}

@media screen and (min-width:1900px)
{
    .main-container{
        position: relative;
        left: 25%;
    }
    .iaomp-head{
        position: relative;
        right: 3rem;
    margin-top: 4rem;
    }
}

.Doctor{
    display: block;
    position: relative;
    margin-top: 12rem;
    left: 2rem;
}
.containerIAOMP{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.outerContainer{
    width:100vw;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.innerContainer{
    width:75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-css-aomsi{
    width: 16rem;
    height: 4rem;
    border-radius: 15px;
    border: 0px;
    color: white;
    background-color: #149BFC;
    /* position: relative;
   
    right: 10%; */
    /* margin-right: 5rem;
    margin-bottom: 5rem; */
   
}

.aomsi-heading{
    /* position: relative;
    left: 35%;
    top: 4rem; */
    color: #149BFC;
    padding-bottom: 2rem;
}
.outerContainer{
    width:100vw;
    max-width:100%;
}
.pd-1{
    padding-bottom: 2rem;
}

@media screen and (max-width:600px) {
    .innerContainer{
        flex-direction: column;

    }
    /* .aomsi-heading{
        position: relative;
        left: 2%;
    } */
    .Doctor{
position: relative;
left: 7.5rem;
margin-right: 0rem;
width: 70%;
    }
/* .btn-css-aomsi{
    position: relative;
    left: -7.5%;
    bottom: 1rem;
    margin-bottom: 0rem;
    margin-right: 0rem;
} */

}