.mainContainerOther{
    /* overflow: hidden; */
}
.boxOther{
    width:90vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.boxMainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 5rem;
}
.boxContainer{
    width:13rem;
    height:4rem;
    border-radius:15px;
    color: #149BFC;
    background-color: #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxText{
    font-size: 1.25rem;
    font-weight: bolder;
    text-align: center;
}
.boxUnderText{
    text-align: centers;
    color: #ff9f16;
    font-size: 1rem;
    font-weight:lighter;
    bottom: 13rem;
    font-family: "Poppins", Sans-serif;
}
.pd-2{
    padding-bottom: 2rem;
}
.pd-4{
    padding-bottom: 2rem;
}
@media screen and (max-width:600px) {
    /*used for mobile view*/
    .pd-2{
        padding-bottom: 0.5rem;
    }
    .pd-4{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .btn-css-oe {
        width: 16rem;
        height: 4rem;
        border-radius: 15px;
        border: 0px;
        color: #149BFC;
        position: relative;
        bottom: 13.5rem;
        right: 5.5rem;
        font-size: 1.25rem;
        z-index: 0;
        font-weight: bolder;
    }
    .headingoe{
        /* position: relative;
        left: 4rem;
        margin-bottom: 7rem; */
        width: 90%;
    }
    .abc{
        display: inline;
        width: 80%;
    }
}

@media screen and (min-width:1200px) {
    /* Desktop styles */
    .btn-css-oe {
      width: 24rem;
      height: 6rem;
      font-size: 2rem;
    }
  
    .headingoe {
      /* left: 25%; */
      margin-bottom: 2rem;
    }
  
    .abc {
      width: 50%;
    }
  }

.btn-css-oe {
    /* used for name */
    width: 16rem;
    height: 4rem;
    border-radius: 15px;
    border: 0px;
    color: #149BFC;
    position: relative;
    bottom: 13.5rem;
    right: 5.5rem;
    font-size: 1.25rem;
    font-weight: bolder;
}

/* .designation {
    position: relative;
    text-align: start;
    left: 0rem;
    color: #ff9f16;
    font-size: 1rem;
    font-weight:lighter;
    bottom: 13rem;
    font-family: "Poppins", Sans-serif;
} */
.headingoe{
    /* Used for section heading */
    text-align: center;
    color: #149BFC;
    /* margin-bottom: 7rem; */
    width: 90%;
    /* margin-top: ; */
    /* left: -9rem; */
    /* margin-left: auto;
    margin-right: auto; */
}
.abc {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin-left: auto;
    margin-right: auto;
    width: 80%; */
}

.name-card-oe{
    position: relative;
    left: 44%;
    bottom: 4rem;
    display:block;
}