.maincard{
    display: flex;
    position: relative;
    left: 13%;
}

.maincard-1{
    margin-top: 5rem;
    margin-bottom: 5rem;
    position: relative;
    right: 20%;
    top: 3rem;
    margin-right: 4rem;
    width: 24rem;
    height: 16rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.classbody{
    position: relative;
    top: 26%;
    left: 15%;
    margin-top: 1rem;
}

.classbody-2{
    position: relative;
    top: 30%;
    left: 25%;
    
    margin-top: 1rem;
}
.contactheading{
    position: relative;
    left: 44%;
    width: 100%;
    margin-top: 2rem;
}

@media screen and (max-width:600px) {
    .maincard{
        display: block;
        width: 80%;
    }
    .maincard-1{
        width: 80%;
    }
    .classbody-2{
        width: 70%;
    }
    .classbody{
        width: 70%;
    }
    .contactheading{
        width: 55%;
    }
}