/* .Heading-1{
    position: relative;
    left: 45%;
margin-top: 5rem;
    color: #149BFC;
} */

.Heading-1{
    color: #149BFC;
}

/* .Heading-para{
    position: relative;
    top: 2rem;
    left: 5%;
    text-align: center;
} */

.placesCard{
    display: flex;

}
.divider{
    height:1rem;
    width: 25%;
}
@media screen and (min-width:601px) and (max-width: 1024px){
.Heading-1 {
    position: relative;
    left: 37%;
    margin-top: 5rem;
    color: #149BFC;
    bottom: 3rem;
}
}
@media screen and (min-width:1400px) {
    .Heading-para{
        margin-bottom: 12rem;
    position: relative;
    left: 1rem;
    text-align: center;
    top: 4rem;
    }
    .Heading-1{
        position: relative;
        left: 37.5rem;
        top: 3rem;
    }
    .cardimg{
        border-radius: 15px;
        width: 29rem;
        height: 21rem;
        margin-left: 2.2rem;
        margin-bottom: 1rem;
        margin-top: -5rem;
       
    }   
}





@media screen and (max-width:600px) {
   .placesCard
   {
    display: block;
    position: relative;
    left: 5%;
   }

   .Heading-para{
    text-align: center;
    margin-left: 8rem;
    margin-bottom: 2rem;
   }
   .cardimg{
    border-radius: 15px;
    width: 20rem;
    height: 16rem;
    margin-left: 7rem;
    margin-bottom: 1rem;

}

.main-container{
    position: relative;
    left: -4rem;
}
.Heading-1{
    width: 60%;
    margin-top: 16rem;
    position: relative;
    right: -11rem;
    top: -2rem;
}

}

@media screen and (min-width:1025px) and (max-width:1280px) {
    .Heading-1{
        position: relative;
    left: 39%;
    margin-top: 5rem;
    color: #149BFC;
    width: 60%;
    }
   .Heading-para{
    position: relative;
    left: 0%;
    margin-bottom: 3rem;
    margin-top: 1rem;
    text-align: center;
   }
   .placesCard{
    position: relative;
    right: 1rem;
   }
   .cardimg{
    width: 23.3rem;
   }
}