.Heading-1{
    position: relative;
    left: 45%;
margin-top: 5rem;
    color: #149BFC;
}

.Heading-para{
    position: relative;
    top: 2rem;
    left: 5%;
    text-align: center;
}

.placesCard{
    display: flex;

}
.divider{
    height:1rem;
    width: 25%;
}

.cardimg{
    border-radius: 15px;
    width: 29rem;
    height: 21rem;
    margin-left: 2.2rem;
    margin-bottom: 1rem;
}

.Cardimg{
    margin-top: 12rem;
}


@media screen and (max-width:600px) {
   .placesCard
   {
    display: block;
    position: relative;
    left: 5%;
   }

   .Heading-para{
    text-align: center;
    margin-left: 7rem;
   }
   .cardimg{
    border-radius: 15px;
    width: 20rem;
    height: 16rem;
    margin-left: 7rem;
    margin-bottom: 1rem;

}

.main-container{
    position: relative;
    left: -4rem;
}
.Heading-1{
   width:60%;
   margin-top: 15rem;
   position: relative;
   right: 40rem;
}

}